<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Here is a list of all players in the db.</p>

    <ul>
        <% listofplayers.forEach(function(item) { %>
          <li><%= item.name + ' has scored ' + item.goals + ' goals.' %></li>
        <% }); %>
    </ul>
  </body>
</html>
